
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
docker-compose.yml
docker-compose.local.yml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
